机器翻译微信小程序项目（MTWA）用户需求
用户需求MTWA-UR-01：用户可以在微信小程序中，选择翻译的源语言和目标语言。
用户需求MTWA-UR-02：用户可以在微信小程序中，输入文本进行翻译，得到目标语言文本。
用户需求MTWA-UR-03：用户可以在微信小程序中，输入语音，得到源语言文本，通过翻译得到目标语言文本，并能播放翻译后目标语言的录音。
用户需求MTWA-UR-04：用户可以录入拍摄图片，将图片中的文字转换为文本，进行翻译。

