机器翻译微信小程序项目（MTWA）用户需求
用户需求MTWA-UR-01：用户可以在微信小程序中，选择翻译的目标语言。
用户需求MTWA-UR-02：用户可以在微信小程序中，输入文本进行翻译。
用户需求MTWA-UR-03：用户可以在微信小程序中，查看翻译结果。
用户需求MTWA-UR-04：用户可以录入语音、上传或拍摄图片，将语音或将图片中的文字转换为文本，进行翻译。
用户需求MTWA-UR-05：用户可以选择将翻译后的文本转换为语音，进行播放。
